include Cargo.toml Cargo.lock LICENSE README.md build.rs
recursive-include src *.rs
recursive-include benches *.rs *.cpp
recursive-include bindings/c *.toml *.rs *.h *.hpp
recursive-include bindings/python *.md
recursive-include tests/python *.py
recursive-include python *.py
recursive-include tests/data *.urdf
